
.User-text {
    position: absolute;
    left: 0;
    top:0;
    padding-left: 10px;
    padding-top: 200px;
    font-size: x-large;
    color: #969696;
}

.User-inputbox {
    position: absolute;
    left: 0;
    top:0;
    padding-left: 10px;
    padding-top: 230px;
}

.Senha-text {
    position: absolute;
    left: 0;
    top:0;
    padding-left: 10px;
    padding-top: 250px;
    font-size: x-large;
    color: #969696;
}

.Senha-inputbox {
    position: absolute;
    left: 0;
    top:0;
    padding-left: 10px;
    padding-top: 280px;
}

.entrar-Icon {
    position: absolute;
    left: 0;
    top:1;
    padding-left: 100px;
    padding-top: 280px;
}

.cad-Icon {
    position: absolute;
    left: 0;
    top:1;
    padding-left: 105px;
    padding-top: 400px;
}
