.listOfCars {
    position: absolute;
    left: 0;
    top:0;
    padding-left: 10px;
    padding-top: 60px;
    font-size:small;
}

.carNames {
    font-size:0.8cm;
    font-weight: 400;
    text-align: left;
    font-style: normal;
}

.imagesBox{
    padding-left: 90px;
}